llmt_training
__pycache__/
*.py[cod]
tokenizer_vocab.json
**/tokenizer_vocab.json
LLMT-backend/checkpoints/
LLMT-training/checkpoints/
*.pyc
*.pyo
*.pyd
.Python
industryinstruction.jsonl
industryinstruction_80mb.jsonl
LLMT-training/tokenizers/*.vocab
